@inject CytoscapeService CytoscapeService

<RadzenStack Style=@($"height: {Style}%; width: 100%; ")>
	<RadzenCard Style="height: 100%; display: flex; flex-direction: column;">
		@foreach (var element in _selectedElementsHeader)
		{
			<div>@element.Title</div>
		}
	</RadzenCard>
</RadzenStack>

@code{
	[Parameter]public string Style { get; set; } = string.Empty;
	private List<ElementHeader> _selectedElementsHeader = new();

	protected override void OnInitialized()
	{
		_selectedElementsHeader = CytoscapeService.GetSelectedElementsHeader();
	}
}