* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 7vh;
    background-color: rgb(174, 174, 174);
}

#title{
    font-size: 3rem;
}

.categorialabel{
    font-size: 2rem;
}

.nodesearchercontainer{
    display: flex;
    align-items: center;
}
#Categoria, #Termo, #SearchNodesButton{
    font-size: 1.5rem;
}

#SearchNodesButton{
    padding: 0.2rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6vh;
    font-size: 1.3rem;
    color: black;
}

.cy-container{
    padding: 1%
}

#cy {
    width: 100%;
    height: 87vh;
    display: block;
    border: 1px solid #ccc;
    background-color: rgb(197, 239, 254);
}

.qtip-bootstrap {
    max-width: 800px;
    width: auto !important;
    font-size: 18px !important;
    line-height: 1.4 !important;
}

body {
    height: 100vh;
    background-color: rgb(237, 237, 237);
}