@inject NavigationManager NavigationManager
@inject MindNoseService MindNoseService
@inject CytoscapeService CytoscapeService
@inject OpenRouterService OpenRouterService

@inherits LayoutComponentBase

<HeadContent>
    <RadzenTheme Theme="Humanistic-Dark" />
</HeadContent>

<RadzenLayout Style="grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <RadzenHeader Style="height: 2vh;">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Gap="1rem">
            <div style="display:flex; flex-direction: row; align-content:center; align-items:center; text-align:center; gap:50px;">
                <RadzenLabel @onclick="@(() => NavigationManager.NavigateTo("/"))" Style="padding-left: 25px; font-size: x-large; cursor:pointer;" Text="MindNose" />
                <NavMenu />
            </div>

            <RadzenSidebarToggle Icon="Chat" Click="@(() => sidebarExpanded = !sidebarExpanded)" class="rz-m-0" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar style="width: 33vw;" @bind-Expanded="@sidebarExpanded">
        <ChatDrawer />
    </RadzenSidebar>
    <RadzenBody Style="height: 98vh; display: flex; flex-direction: column;">
        @Body
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />

@code {
    private bool sidebarExpanded;

    protected override void OnInitialized()
    {
        sidebarExpanded = false;
        StateHasChanged();
    }
}