@inherits LayoutComponentBase

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenLayout Style="grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Gap="1rem">
            <div style="display:flex; flex-direction: row; align-content:center; align-items:center; text-align:center; gap:50px;">
                <RadzenLabel Style="padding-left: 25px;" Text="MindNose" />
                <NavMenu />
            </div>

            <RadzenSidebarToggle Icon="Chat" Click="@(() => sidebarExpanded = !sidebarExpanded)" class="rz-m-0" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar style="width: 33vw;" @bind-Expanded="@sidebarExpanded">
        <ChatDrawer />
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />

@code {
    bool sidebarExpanded = true;
}