.rz-body {
    background: radial-gradient( circle at bottom right, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0.04) 55%, transparent 75% ), linear-gradient( 135deg, #141416 0%, #1f2022 50%, #2a2b2e 100% );
}

.chat-bubble, .chat-bubble p {
    background-color: #bababa;
    color: #000000 !important;
}