.rz-body {
    background: radial-gradient( circle at 85% 85%, #ffffff 0%, #f2f2f2 20%, rgba(36, 37, 39, 0.15) 45%, rgba(36, 37, 39, 0.30) 65%, rgba(36, 37, 39, 0.45) 80%, rgba(36, 37, 39, 0.55) 100% ), linear-gradient( 135deg, #ffffff 0%, #e0e0e0 60%, #c5c5c5 100% );
}
